<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Vega</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/vehicles/new" routerLinkActive="active" class="nav-link">New Vehicle</a>
      </li>
      <li class="nav-item">
        <a routerLink="/vehicles/newRx" routerLinkActive="active" class="nav-link">New Vehicle (beta)</a>
      </li>
      <li class="nav-item">
        <a routerLink="/vehicles/all" routerLinkActive="active" class="nav-link">Vehicles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet> </router-outlet>
</div>
