<h1>New Vehicle</h1>
<form>
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make" name="make">
      <option value="" disabled>Select make</option>
      <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vehicle.model" name="model">
      <option value="" disabled>{{ vehicle.make ? 'Select model' : 'Select make first' }}</option>
      <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
    </select>
  </div>
  <hr>
  <h5>Is this vehicle rehistered?</h5>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isRegistered" id="registered" value="true">
    <label class="form-check-label" for="registered">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isRegistered" id="notregistered" value="false">
    <label class="form-check-label" for="notregistered">No</label>
  </div>
  <hr>
  <h5>Features</h5>
  <div class="form-check form-check-inline" *ngFor="let feature of features">
    <input class="form-check-input" type="checkbox" [id]="'feature' + feature.id" [value]="feature.id">
    <label class="form-check-label" [for]="'feature' + feature.id">{{ feature.name }}</label>
  </div>
  <hr>
  <h5>Contact</h5>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input id="contactName" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input id="contactPhone" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="contectEmail">Email</label>
    <input id="contectEmail" type="text" class="form-control">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
