<h1>New Vehicle</h1>
{{vehicle | json}}
{{form.valid | json}}
{{make | json}}
<form #form="ngForm">
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId">
      <option value="" disabled>Select make</option>
      <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model *</label>
    <select id="model" #modelId="ngModel" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required>
      <option value="" disabled>{{ vehicle.make ? 'Select model' : 'Select make first' }}</option>
      <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="modelId.touched && !modelId.valid">
      Model is required.
    </div>
  </div>
  <hr>
  <h5>Is this vehicle registered?</h5>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isRegistered" id="registered" value="true" [(ngModel)]="vehicle.isRegistered">
    <label class="form-check-label" for="registered">Yes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isRegistered" id="notregistered" value="false" [(ngModel)]="vehicle.isRegistered">
    <label class="form-check-label" for="notregistered">No</label>
  </div>
  <hr>
  <h5>Features</h5>
  <div class="form-check form-check-inline" *ngFor="let feature of features">
    <input class="form-check-input" type="checkbox" [id]="'feature' + feature.id" [value]="feature.id" name="features"
      (change)="onFeatureToggle(feature.id, $event)">
    <label class="form-check-label" [for]="'feature' + feature.id">{{ feature.name }}</label>
  </div>
  <hr>
  <h5>Contact</h5>
  <div class="form-group">
    <label for="contactName">Name *</label>
    <input id="contactName" #contactName="ngModel" type="text" class="form-control" [(ngModel)]="vehicle.contact.name"
      name="contactName" required>
    <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">
      Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone *</label>
    <input id="contactPhone" #contactPhone="ngModel" type="text" class="form-control" [(ngModel)]="vehicle.contact.phone"
      name="contactPhone" required>
    <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">
      Phone is required.
    </div>
  </div>
  <div class="form-group">
    <label for="contectEmail">Email</label>
    <input id="contectEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contectEmail">
  </div>
  <button class="btn btn-primary" (click)="submit(form)" [disabled]="!form.valid">Save</button>
  <div class="alert alert-warning" *ngIf="!form.valid">
    Fill required fields.
  </div>
</form>
